

.profile-container{
    width: 1200px;
    height: 901px;
    background-color:#F8F9FA;
    margin: 0 auto;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Profile bio */
.profile-info-account{
    width: 1018px;
    height: 534px;
}
.user-info-wrapper{
    margin: 49px 0 120px 82px;
    width: 518px;
    height: 563px;
}
.user-info{
    width: 446px;
    height: 233px;
}
.profile-bio-info{
    width: 300px;
    height: 114px;
    margin-bottom: 76px;
}
.profile-title{
    font-size: 55px;
    color:#000;
    font-family: 'GT Eesti Display Trial', sans-serif;
    font-style: normal;
    font-weight: 500;
}
.profile-balance{
    font-size: 25px;
    font-family: 'Gilroy-Light', sans-serif;
    color: #000;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.profile-location{
    display: flex;
    gap: 30px;
    font-size: 25px;
    font-family: 'Gilroy-Light', sans-serif;
    color: #000;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.stroke-info{
    width: 300px;
}

/* Contacts */
.contacts-info{
    width: 314px;
    height: 234px;
}
.contacts-title{
    color:#000;
    text-transform: uppercase;
    font-family: 'GT Eesti Display Trial', sans-serif;
    font-size: 25px;
    font-weight: 500;
}
.social-info{
    gap:40px
}
.social-info__link{
    color:#000;
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 18px;
    line-height: normal;
}

